<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/weui-1.1.2.min.css" rel="stylesheet" />
    <link href="~/Content/weuix.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/weui-1.1.1.min.js"></script>
    <script src="~/Scripts/zepto.weui.js"></script>

</head>
<body>
    <div class="container" id="container">
        @RenderBody()
        
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
