
@{
    ViewBag.Title = "申请合作";
}

    <div style="text-align:center; padding:5px 0px; font-size:16px;">
        <div style="float: left; margin-left: 35px;">我的余额：<span>@ViewBag.Score</span></div>
        <a href="javascript:void(0)" style="color:#0030e9; float:right; margin-right:35px;">申请提现</a>
    </div>
<div class="" style=" clear:both;">
    <img src="data:image/jpg;base64,@ViewBag.Image" width="100%"  />
</div>
<div style="text-align:center; font-size:16px;">
    当前分享（@ViewBag.Count）
</div>