
@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style type="text/css">
    .tdImg {
        width: 50px;
        height: 50px;
        max-width: none;
        cursor: zoom-in;
    }
</style>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格顶部工具栏 -->
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">名称：</label>
                        <div class="layui-input-inline mr0">
                            <input name="keyword" class="layui-input" type="text" placeholder="输入关键词" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn icon-btn" lay-filter="searchSubmit" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                        <button id="btnAdd" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
                    </div>
                </div>
            </div>
            <table class="layui-table" id="experimentTypeTable" lay-filter="experimentTypeTable"></table>
        </div>
    </div>
    <blockquote class="layui-elem-quote layui-text" style="margin-top: 15px;background: #fff;">
        说明
    </blockquote>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs " lay-event="upload">图文</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="modelExpType">
    <form id="modelExpTypeForm" lay-filter="modelExpTypeForm" class="layui-form model-form">
        <input name="id" type="hidden" />
        <div class="layui-form-item">
            <label class="layui-form-label">名称：</label>
            <div class="layui-input-block">
                <input name="title" placeholder="输入名称" type="text" class="layui-input" maxlength="20"
                       lay-verType="tips" lay-verify="required" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标签：</label>
            <div class="layui-input-block">
                <input name="tags" type="text" class="layui-input"
                       lay-verType="tips" lay-verify="" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">作者：</label>
            <div class="layui-input-block">
                <input name="author" placeholder="输入作者" type="text" class="layui-input" maxlength="20"
                       lay-verType="tips" lay-verify="required" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">访客：</label>
            <div class="layui-input-block">
                <input name="visitors" placeholder="输入访客数量" type="number" class="layui-input"
                       lay-verType="tips" lay-verify="required" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">摘要：</label>
            <div class="layui-input-block">
                <textarea name="subTitle" placeholder="输入摘要" class="layui-textarea" lay-vertype="tips" lay-verify="required" required=""></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">目标公开:</label>
            <div class="layui-input-inline" style="display: block;width: auto;float: none;">
                <input type="radio" name="state" value="0" title="不公开" checked=""><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon layui-anim-scaleSpring"></i><div>不公开</div></div>
                <input type="radio" name="state" value="1" title="公开"><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>公开</div></div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">创建时间：</label>
            <div class="layui-input-block">
                <input id="edtDateFormAdv1" name="created" type="text" placeholder="创建时间" class="layui-input  layer-date date-icon" autocomplete="off" lay-vertype="tips" lay-verify="required" required="" lay-key="2">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">更新时间：</label>
            <div class="layui-input-block">
                <input name="updated" type="datetime" class="layui-input layui-disabled"
                       lay-verType="tips" lay-verify="" readonly="readonly" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">访客：</label>
            <div class="layui-input-block">
                <input name="visitors" placeholder="输入访客数量" type="number" class="layui-input"
                       lay-verType="tips" lay-verify="required" />
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closePageDialog">取消</button>
            <button class="layui-btn" lay-filter="modelExpTypeSubmit" lay-submit>保存</button>
        </div>
    </form>
</script>
<!-- 表格操作列 -->
<script type="text/html" id="ssxmTableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="upload">封面</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- 表格操作列 -->
<script type="text/html" id="tableBar2">
    <span class="layui-text">
        <a href="javascript:;" lay-event="look">
            <i class="layui-icon" style="font-size: 12px;">&#xe61a;</i> 查看
        </a>
    </span>
</script>

<!-- 表格状态列 -->
<script type="text/html" id="tableState">
    <input type="checkbox" lay-filter="ckState" value="{{d.id}}" lay-skin="switch"
           lay-text="正常|锁定" {{d.state==1?'checked':''}} />
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="modelExp">
    <form id="modelExpForm" lay-filter="modelExpForm" class="layui-form model-form">
        <input name="experimentId" type="hidden" />
        <div class="layui-form-item">
            <label class="layui-form-label">名称：</label>
            <div class="layui-input-block">
                <input name="experimentName" placeholder="请输入名称" type="text" class="layui-input" maxlength="20"
                       lay-verType="tips" lay-verify="required" />
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closePageDialog">取消</button>
            <button class="layui-btn" lay-filter="modelExpSubmit" lay-submit>保存</button>
        </div>
    </form>
</script>

@section scripts{
    <script>
        layui.use(['layer', 'form', 'table', 'util', 'admin', 'tableX', 'laydate', 'element', 'upload', 'fileChoose'], function () {
            var $ = layui.jquery;
            var layer = layui.layer;
            var form = layui.form;
            var table = layui.table;
            var util = layui.util;
            var admin = layui.admin;
            var tableX = layui.tableX;
            var laydate = layui.laydate;
            var element = layui.element;
            var upload = layui.upload;
            var fileChoose = layui.fileChoose;


            // 渲染表格
            var insTb = tableX.render({
                elem: '#experimentTypeTable',
                url: '/api/v1/articles',
                page: true,
                cellMinWidth: 100,
                cols: [[
                    { type: 'numbers' },
                    {
                        align: 'center', templet: function (d) {
                            var url = d.cover;
                            // var url = 'https://pic.qqtn.com/up/2018-9/15367146917869444.jpg';
                            return '<img src="' + url + '" class="tdImg" tb-img/>';
                        }, title: '封面', width: 90, unresize: false
                    },
                    { field: 'title', title: '标题', sort: true },
                    { field: 'subTitle', title: '摘要' },
                    { field: 'state', sort: true, templet: '#tableState', title: '状态', width: 100 },
                    { field: 'tags', title: '标签', minWidth: 140, width: 140 },
                    {
                        field: 'created', title: '创建时间', sort: true, templet: function (d) {
                            return util.toDateString(d.createTime);
                        }, width: 180
                    },
                    { align: 'center', title: '操作', toolbar: '#tableBar', minWidth: 130, width: 180 }
                ]]
            });

            // 搜索
            form.on('submit(searchSubmit)', function (data) {
                insTb.reload({ where: data.field, page: { curr: 1 } });
            });

            // 添加
            $("#btnAdd").click(function () {
                showEditModel();
            });
            
            // 修改用户状态
            form.on('switch(ckState)', function (obj) {
                layer.load(2);
                $.get('/api/v1/ashow', { id: obj.elem.value, state: obj.elem.checked ? 1 : 0 }, function (res) {
                    layer.closeAll('loading');
                    if (res.code == 200) {
                        layer.msg(res.msg, { icon: 1 });
                    } else {
                        layer.msg(res.msg, { icon: 2 });
                        $(obj.elem).prop('checked', !obj.elem.checked);
                        form.render('checkbox');
                    }
                }, 'json');
            });
            // 工具条点击事件
            table.on('tool(experimentTypeTable)', function (obj) {

                var data = obj.data;
                //alert(JSON.stringify(data));
                var layEvent = obj.event;
                if (layEvent == 'edit') {
                    showEditModel(data);
                } else if (layEvent == 'del') {
                    doDel(data.id);
                } else if (layEvent == 'upload') {
                    // 打开新的窗体
                    layer.open({
                        type: 2 //Page层类型
                        , area: ['800px', '800px']
                        , title: data.title
                        , shade: 0.6 //遮罩透明度
                        , maxmin: true //允许全屏最小化
                        , anim: 1 //0-6的动画形式，-1不开启
                        , content: '/system/artEdit/' + data.id
                    });
                } else if (layEvent == 'look') {
                    var $a = $(obj.tr).find('a[lay-event="look"]');
                    var offset = $a.offset();
                    var top = offset.top;
                    var left = offset.left;
                    layer.open({
                        type: 1,
                        title: false,
                        area: '530px',
                        offset: [top + 'px', (left - 530 + $a.outerWidth()) + 'px'],
                        shade: .01,
                        shadeClose: true,
                        fixed: false,
                        content: '<table id="lookSSXMTable" lay-filter="lookSSXMTable"></table>',
                        success: function () {
                            tableX.render({
                                elem: '#lookSSXMTable',
                                url: '../../json/syxj_list2.json?experimentTypeId=' + data.id,
                                page: true,
                                cellMinWidth: 100,
                                cols: [[
                                    { type: 'numbers' },
                                    { field: 'experimentName', title: '名称', sort: true },
                                    {
                                        field: 'createTime', title: '创建时间', sort: true, templet: function (d) {
                                            return util.toDateString(d.createTime);
                                        }
                                    }
                                ]],
                                size: ''
                            });
                        }
                    });
                }
            });
            // 显示表单弹窗
            function showEditModel(expTpe) {

                admin.open({
                    type: 1,
                    title: (expTpe ? '修改' : '添加') + '文章主题',
                    content: $('#modelExpType').html(),
                    area: '700px',
                    success: function (layero, dIndex) {
                        var allDate = $(document).find('.layer-date')
                        allDate.each(function (index, el) {
                            $(this).removeAttr("lay-key")
                            laydate.render({
                                elem: this,
                                format: 'yyyy-MM-dd'
                            });
                        });
                        laydate.render({
                            elem: '#edtDateFormAdv1', show: true //直接显示
                        });

                        //$(layero).children('.layui-layer-content').css('overflow', 'visible');
                        var url = expTpe ? '/api/v1/article' : '/api/v1/article';
                        var isExpAdd = expTpe ? false : true;
                        // 回显数据
                        form.val('modelExpTypeForm', expTpe);
                        // 表单提交事件
                        form.on('submit(modelExpTypeSubmit)', function (data) {

                            //if (isExpAdd) {
                            //    if (xxDataList.length <= 0) {
                            //        layer.tips('请添加文章', '#demoEDBtnAddComment', { tips: [1, '#ff4c4c'] });
                            //        return false;
                            //    }
                            //    var nList = admin.util.deepClone(xxDataList);
                            //    for (var xi = 0; xi < nList.length; xi++) {
                            //        nList[xi].experimentId = undefined;
                            //    }
                            //    data.field.expListJson = JSON.stringify(nList);
                            //}
                            layer.load(2);
                            $.post(url, data.field, function (res) {
                                layer.closeAll('loading');
                                if (res.code == 200) {
                                    layer.close(dIndex);
                                    insTb.reload({ page: { curr: 1 } });
                                    layer.msg(res.msg, { icon: 1 });
                                } else {
                                    layer.msg(res.msg, { icon: 2 });
                                }
                            }, 'json');
                            return false;
                        });

                    }
                });
            }
            function doPost(id) {
                // 上传
                upload.render({
                    elem: '#file-btn-upload',
                    accept: 'file'
                });
            }
            // 删除
            function doDel(experimentTypeId) {
                layer.confirm('确定要删除吗？', {
                    shade: .1,
                    skin: 'layui-layer-admin'
                }, function (i) {
                    layer.close(i);
                    layer.load(2);
                    $.post('../../json/ok.json', {
                        experimentTypeId: experimentTypeId
                    }, function (res) {
                        layer.closeAll('loading');
                        if (res.code == 200) {
                            layer.msg(res.msg, { icon: 1 });
                            insTb.reload({ page: { curr: 1 } });
                        } else {
                            layer.msg(res.msg, { icon: 2 });
                        }
                    }, 'json');
                });
            }
            // 点击图片放大
            $(document).off('click.tbImg').on('click.tbImg', '[tb-img]', function () {
                layer.photos({ photos: { data: [{ src: $(this).attr('src') }] }, shade: .1, closeBtn: true });
            });

        });

    </script>

}