
@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style type="text/css">
    .tdImg {
        width: 50px;
        height: 50px;
        max-width: none;
        cursor: zoom-in;
    }
</style>
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格顶部工具栏 -->
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">关键词：</label>
                        <div class="layui-input-inline mr0">
                            <input name="keyword" class="layui-input" type="text" placeholder="输入关键词" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn icon-btn" lay-filter="searchSubmit" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                        <button id="btnAdd" class="layui-btn icon-btn layui-hide"><i class="layui-icon">&#xe654;</i>添加</button>
                    </div>
                </div>
            </div>
            <table class="layui-table" id="experimentTypeTable" lay-filter="experimentTypeTable"></table>
        </div>
    </div>
    <blockquote class="layui-elem-quote layui-text" style="margin-top: 15px;background: #fff;">
    </blockquote>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">回复</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="modelExpType">
    <form id="modelExpTypeForm" lay-filter="modelExpTypeForm" class="layui-form model-form">
        <input name="id" type="hidden" />
        <div class="layui-form-item">
            <label class="layui-form-label">评论回复：</label>
            <div class="layui-input-block">
                <input name="reply" placeholder="评论回复" type="text" class="layui-input" 
                       lay-verType="tips" lay-verify="required" />
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closePageDialog">取消</button>
            <button class="layui-btn" lay-filter="modelExpTypeSubmit" lay-submit>保存</button>
        </div>
    </form>
</script>

<!-- 表格状态列 -->
<script type="text/html" id="tableState">
    <input type="checkbox" lay-filter="ckState" value="{{d.id}}" lay-skin="switch"
           lay-text="正常|锁定" {{d.state==1?'checked':''}} />
</script>
<!-- 表格操作列 -->
<script type="text/html" id="ssxmTableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">回复</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- 表格操作列 -->
<script type="text/html" id="tableBar2">
    <span class="layui-text">
        <a href="javascript:;" lay-event="look">
            <i class="layui-icon" style="font-size: 12px;">&#xe61a;</i> 查看
        </a>
    </span>
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="modelExp">
    <form id="modelExpForm" lay-filter="modelExpForm" class="layui-form model-form">
        <input name="experimentId" type="hidden" />
        <div class="layui-form-item">
            <label class="layui-form-label">名称：</label>
            <div class="layui-input-block">
                <input name="experimentName" placeholder="请输入名称" type="text" class="layui-input" maxlength="20"
                       lay-verType="tips" lay-verify="required" />
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closePageDialog">取消</button>
            <button class="layui-btn" lay-filter="modelExpSubmit" lay-submit>保存</button>
        </div>
    </form>
</script>


@section scripts{
    <script>
        layui.use(['layer', 'form', 'table', 'util', 'admin', 'tableX'], function () {
            var $ = layui.jquery;
            var layer = layui.layer;
            var form = layui.form;
            var table = layui.table;
            var util = layui.util;
            var admin = layui.admin;
            var tableX = layui.tableX;

            // 渲染表格
            var insTb = tableX.render({
                elem: '#experimentTypeTable',
                url: '/api/v1/comments',
                page: true,
                cellMinWidth: 100,
                cols: [[
                    { type: 'numbers' },
                    {
                        align: 'center', templet: function (d) {
                            var url = d.Headimgurl;
                            return '<img src="' + url + '" class="tdImg" tb-img/>';
                        }, title: '头像', width: 90, unresize: false
                    },
                    { field: 'nickname', title: '昵称',   width: 100},
                    { field: 'contents', title: '评论', sort: true },
                    {
                        field: 'created', title: '创建时间', sort: true, templet: function (d) {
                            return util.toDateString(d.created);
                        }, width: 180
                    },
                    { field: 'state', sort: true, templet: '#tableState', title: '状态' , width: 100 },
                    { field: 'reply', title: '回复' },
                    {
                        field: 'updated', title: '回复时间', sort: true, templet: function (d) {
                            return util.toDateString(d.updated);
                        }, width: 180
                    },
                    { align: 'center', title: '操作', toolbar: '#tableBar', minWidth: 130, width: 130 }
                ]]
            });

            // 搜索
            form.on('submit(searchSubmit)', function (data) {
                insTb.reload({ where: data.field, page: { curr: 1 } });
            });

            // 添加
            $("#btnAdd").click(function () {
                showEditModel();
            });

            // 修改用户状态
            form.on('switch(ckState)', function (obj) {
                layer.load(2);
                $.get('/api/v1/cshow', { id: obj.elem.value, state: obj.elem.checked ? 1 : 0 }, function (res) {
                    layer.closeAll('loading');
                    if (res.code == 200) {
                        layer.msg(res.msg, { icon: 1 });
                    } else {
                        layer.msg(res.msg, { icon: 2 });
                        $(obj.elem).prop('checked', !obj.elem.checked);
                        form.render('checkbox');
                    }
                }, 'json');
            });

            // 工具条点击事件
            table.on('tool(experimentTypeTable)', function (obj) {
                var data = obj.data;
                var layEvent = obj.event;
                if (layEvent == 'edit') {
                    showEditModel(data);
                }
                else if (layEvent == 'del') {
                    doDel(data.id);
                }
            });

            // 显示表单弹窗
            function showEditModel(expTpe) {
                admin.open({
                    type: 1,
                    title: (expTpe ? '评论' : '添加') + '回复',
                    content: $('#modelExpType').html(),
                    area: '700px',
                    success: function (layero, dIndex) {
                        $(layero).children('.layui-layer-content').css('overflow', 'visible');
                        var url = expTpe ? '/api/v1/creply' : '/api/v1/creply';
                        var isExpAdd = expTpe ? false : true;
                        // 回显数据
                        form.val('modelExpTypeForm', expTpe);
                        // 表单提交事件
                        form.on('submit(modelExpTypeSubmit)', function (data) {
                            layer.load(2);
                            $.post(url, data.field, function (res) {
                                layer.closeAll('loading');
                                if (res.code == 200) {
                                    layer.close(dIndex);
                                    insTb.reload({ page: { curr: 1 } });
                                    layer.msg(res.msg, { icon: 1 });
                                } else {
                                    layer.msg(res.msg, { icon: 2 });
                                }
                            }, 'json');
                            return false;
                        });

                    }
                });
            }

            // 删除
            function doDel(id) {
                layer.confirm('确定要删除吗？', {
                    shade: .1,
                    skin: 'layui-layer-admin'
                }, function (i) {
                    layer.close(i);
                    layer.load(2);
                    $.post('/api/v1/cdel', {
                        id: id
                    }, function (res) {
                        layer.closeAll('loading');
                        if (res.code == 200) {
                            layer.msg(res.msg, { icon: 1 });
                            insTb.reload({ page: { curr: 1 } });
                        } else {
                            layer.msg(res.msg, { icon: 2 });
                        }
                    }, 'json');
                });
            }
            // 点击图片放大
            $(document).off('click.tbImg').on('click.tbImg', '[tb-img]', function () {
                layer.photos({ photos: { data: [{ src: $(this).attr('src') }] }, shade: .1, closeBtn: true });
            });
        });

    </script>
}