
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>正在打赏……</title>
    <script src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript">
        var _wxJsApiParam;
        function callpay() {
            if (typeof WeixinJSBridge == "undefined") {
                if (document.addEventListener) {
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }
                else if (document.attachEvent) {
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }
            else {
                jsApiCall();
            }
        }
        //调用微信JS api 支付
        function jsApiCall() {
            WeixinJSBridge.invoke('getBrandWCPayRequest', _wxJsApiParam,
                function (res) {
                    if (res.err_msg == "get_brand_wcpay_request:cancel") {
                        $.messager.alert('提示信息', '支付已经取消！', 'info');
                        return false;
                    } else if (res.err_msg == "get_brand_wcpay_request:ok") {
                        //支付成功
                        $.messager.alert('提示信息', '支付成功！', 'info');
                    }
                });
        }

        function Pay() {
            $.post("/WeiXinPay/Pay",
                {
                    OrderID: @ViewBag.ID, //本地订单号
                    TotalFee: @ViewBag.Amount //费用 分做单位
                },
                function (json) {
                    if (json.ret == -1) {
                        _wxJsApiParam = eval('(' + json.data + ')');
                        callpay();
                    }
                    else {
                        alert(json.msg);
                    }
                }, "JSON");
        }
        $(document).ready(function () {
            Pay();
        });
    </script>
</head>
<body>
    <div> 
        支付中……<br />
        @ViewBag.ID
    </div>
</body>
</html>
